.weather__card {
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 2rem rgba(0, 0, 255, 0.1);
  justify-items: center;
  padding: 25px 15px;
  margin: 10px;
  width: 55%;
  max-width: 340px;
  cursor: pointer;
  background-color: white;
  border-radius: 20px;
  animation: slideup 1s ease-in-out, fadein 1.25s ease-in-out 0ms 1;
  color: #382e64;
  @media (max-width: 1000px) {
    width: 60%;
    padding: 20px 10px;
  }
  @media (max-width: 450px) {
    width: 70%;
  }
}

.weather__card-add {
  margin: 0 auto;
  box-shadow: rgba(0, 0, 255, 0.5);
  width: 80%;
}

.weather__card-dark {
background: linear-gradient(to bottom, #372865, #000000);
  color: white;
}

.city-name__text {
  overflow: hidden;
  text-transform: uppercase;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0.1rem;
  margin-bottom: 8px;
  @media (max-width: 850px) {
    font-size: 20px; 
  }
}

.country-name {
  margin-bottom: 14px;
  font-size: 15px;
  @media (max-width: 850px) {
    font-size: 12px; 
  }
}

.temperature-text__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.temperature__text {
  align-self: end;
  width: 100%;
  font-size: 4rem;
  font-weight: 100;
  letter-spacing: 0.1rem;
}

.temperature-metric__text {
  display: flex;
  justify-content: center;
  font-size: 40px;
  margin-bottom: 20px;
  position: relative;
  @media (max-width: 850px) {
    font-size: 30px; 
  }
}

.temperature-metric__text::after {
  content: '°';
  position: absolute;
  top: 0;
  right: -13px;
}

.min-max__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
  width: 100%;
}

.min__container, .max__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.min-arrow__icon, .max-arrow__icon {
  display: block;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  height: 18px;
  margin: auto;
  @media (max-width: 850px) {
    height: 10px;
  }
}

.weather-condition__text {
  display: block;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-align: center;
  margin-bottom: 30px;
  @media (max-width: 850px) {
    font-size: 12px; 
    margin-bottom: 13px;
  }
}

.max__text {
  color: #FF0070;
}

.min__text {
  color: #00FF9B;
}

.max__text, .min__text {
  font-size: 14px;
  text-align: center;
  @media (max-width: 850px) {
    font-size: 10px; 
  }
}

.max-temperature__text, .min-temperature__text {
  text-align: center;
  font-size: 25px;
  margin: 5px 0;
  position: relative;
  @media (max-width: 850px) {
    margin: 2px 0;
    font-size: 15px; 
  }
}
.max-temperature__text::after, .min-temperature__text::after {
  content: '°';
  position: absolute;
  top: 0;
  right: -10px;
  @media (max-width: 850px) {
    right: -5px;
  }
}

.weather-icon__container {
  width: 90px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}

.weather-icon__container > svg {
  width: 10rem;
}

.weather-icon__box {
  height: 105px;
  display: flex;
  @media (max-width: 850px) {
    height: 80px; 
  }
}

.weather-icon {
  height: 105px;
  @media (max-width: 850px) {
    height: 80px; 
  }
}

.add-city-btn {
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 3rem;
  padding: 1rem 2rem;
  color: white;
  margin-top: 15px;
  background-color: #2b244d;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 850px) {
    margin-top: 5px;
    font-size: 9px;
  }
}

.add-city-btn:hover {
  background-color: #31feae;
}

.city-added-note {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  animation: fadein 1s ease-in-out;
  width: 100%;
}

.add-success-text{
  font-size: 1.25rem;
}

.weather-icon-rain {
  position: relative;
  left: 6px;
}