
/*
====================
Weather Card Styling
====================
*/
.card-container {
  display: flex;
  /* flex-wrap: wrap; */
}

.weather__card {
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 2rem rgba(0, 0, 255, 0.1);
  /* justify-items: center; */
  padding: 25px 15px;
  margin: 20px;
  /* width: 50%; */
  width: 310px;
  cursor: pointer;
  background-color: white;
  border-radius: 20px;
  animation: slideup 1s ease-in-out, fadein 1.25s ease-in-out 0ms 1;
  color: #382e64;
  transition: all 0.15s ease-in;
  position: relative;
  top: 0;

  &:hover {
    position: relative;
    top: -2px;
    @media (max-width: 768px) {
      top: 0;
    }
  }

  @media (max-width: 450px) {
    max-width: 270px;
  }
}

.card-title-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.card-header-container {
  // margin-right: 25px;
  position: relative;
  left: 12px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-close-container {
  position: relative;
  top: -2px;
  height: 25px;
  width: 25px;
  &:hover {
    opacity: 0.8;
  }
}

.close-img {
  height: 25px;
  opacity: 0.9;
}

.card-close-img-none {
  display: none;
}

.weather__card-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather__card-add {
  /* cursor: auto; */
  margin: 0 auto;
  box-shadow: rgba(0, 0, 255, 0.5);
  width: 80%;
}

.weather__card-dark {
  background: linear-gradient(to bottom, #711B86, #00057A);
  background: linear-gradient(to bottom, #372865, #000000);
  color: white;
}

.city-name__text {
  overflow: hidden;
  max-width: 200px;
  text-transform: uppercase;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0.1rem;
  margin-bottom: 8px;
}

.country-name {
  flex: 1 1 auto;
  margin-bottom: 14px;
  font-size: 15px;
}

.temperature-text__container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.temperature__text {
  align-self: end;
  width: 100%;
  font-size: 4rem;
  font-weight: 100;
  letter-spacing: 0.1rem;
}

.temperature-metric__text {
  display: flex;
  justify-content: center;
  font-size: 40px;
  margin-bottom: 20px;
  position: relative;
}

.temperature-metric__text::after {
  content: '°';
  position: absolute;
  top: 0;
  right: -13px;
}

.min-max__container {
  // flex: 1 1 auto;

  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
  width: 100%;
}

.min__container, .max__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.min-arrow__icon, .max-arrow__icon {
  display: block;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  height: 1.25rem;
  margin: auto;
}

.max-arrow__icon {
  /* margin-bottom: -0.05rem; */
}

.min-arrow__icon {
  /* margin-top: -10px; */
}

.weather-condition__text {
  display: block;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-align: center;
  margin-bottom: 30px;
  position: relative;
  left: 4px;
}

.max__text {
  color: #FF0070;
}

.min__text {
  color: #00FF9B;
}

.max__text, .min__text {
  font-size: 1rem;
  text-align: center;
}

.max-temperature__text, .min-temperature__text {
  text-align: center;
  font-size: 25px;
  margin: 5px 0;
  position: relative;
}
.max-temperature__text::after, .min-temperature__text::after {
  content: '°';
  position: absolute;
  top: 0;
  right: -10px;
}

.min-temperature__text {
  /* margin-top: 10px; */
}

.weather-icon__container {
  width: 90px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}

.weather-icon__container > svg {
  width: 10rem;
}

.weather-icon__box {
  height: 105px;
  display: flex;
}

.weather-icon {
  height: 105px;
}

.add-city-btn {
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 3rem;
  padding: 1rem 2rem;
  color: white;
  margin-top: 15px;
  background-color: #2b244d;
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-city-btn:hover {
  background-color: #31feae;
}

.city-added-note {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  animation: fadein 1s ease-in-out;
  width: 100%;
}

.add-success-text{
  font-size: 1.25rem;
}

.remove-card-btn {
  outline: none;
  border: none;
  border-radius: 30px;
  padding: 13px 40px;
  /* color: white; */
  margin-top: 10px;
  background: #e53935;
  color: #fff;
  /* border-color: #e53935; */
  border: 1px solid #e53935;
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.22s;
}

.remove-card-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.weather-icon-rain {
  position: relative;
  left: 6px;
}